- load staticfiles
%link{:href => "{% static 'search_ui/css/style.css' %}", :rel => "stylesheet", :type => "text/css"}

%head
    %h1 Search Twitter
    %img{'id': "myImage", onclick: "change_image()", src: "{% static 'search_ui/images/pic1.png'%}"}
    %script{'type': 'text/javascript', 'src': "{% static 'search_ui/js/jquery.js' %}"}
    %script{'type': 'text/javascript', 'src': "{% static 'search_ui/js/highcharts/highcharts.js' %}"}
    %script{'type': 'text/javascript', 'src': "{% static 'search_ui/js/main.js' %}"}




%section.webdesigntuts-workshop
    %form{:action => "", :method => "post", :id => 'post-form'}
        {% csrf_token %}
        {{form}}
        %input{:type => 'submit', value: 'Submit', name: 'q', placeholder: 'Search...', :id => 'search_submit'}


    %p There were ={num_results} found
    %table
        %tbody
            %tr
                %td ID
                %td Tweet
            %tr{:id => 'tr3'}
                %td 1
                %td 2
            %tr{:id => 'tr4'}
                %td 1
                %td 2
    %div{:class => 'message'}
    %p results shown
        - for i in var_list
            %td loda loda
            - if doc.id
                %td id is {{doc.id}}
            - if doc.text
                %td text is {{doc.text}}

    %div{:id => 'container',:style => "height: 300px"}

